body {
    background-color: white;
    width: 100%;
    height: 100%;
}
.row {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
img {
    width: 100%;
}
.category {
    background-image: url(../img/lcs-1.jpg.lnk);
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}
footer, footer a {
    background-color: rgb(241, 241, 241);
    color: rgb(55, 55, 55);
}
footer .row div {
    padding: 0;
}
footer div div a, footer p {
    font-size: 15px;
    margin: 0;
}