body {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Saira Condensed', sans-serif;
}
h1 {
    font-family: 'Festive', cursive;
    font-size: 30px;
    margin: 5px;
}
h2 {
    font-size: 30px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}
.navbar-brand {
    font-family: 'Festive', cursive;
    font-size: 25px;
}
.nav-pc {
    margin: 0;
}
.row {
    margin: 0;
    width: 100%;
}
.dropdown-toggle, .dropdown-toggle {
    outline: none;
    box-shadow: none;
    border: none;
}
.navbar-toggler {
    border-radius: 0;
    border: none;
}
.dropdown-menu {
    border-radius: 0;
}
a {
    color: black;
    text-decoration: none;
}
img {
    width: 100%;
}

/* collection */
.collection-img {
    height: 186px;
    box-shadow: 0 1px 1px 0 black;
}
.collection-title {
    font-weight: bold;
}

/* footer */
footer, footer a {
    background-color: #f8f9fa;
    color: rgb(55, 55, 55);
}
footer .row div {
    padding: 0;
}
footer div div a, footer p {
    font-size: 15px;
    margin: 0;
}

/* media queries pc */
@media screen and (min-width: 576px) {
    .nav-mobile {
        display: none;
    }
    .nav-pc {
        display: block;
    }
    .img-mobile {
        display: none;
    }
    .img-pc {
        display: block;
        height: 700px;
    }
    .category {
        background-image: url(../img/footer.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 5px black;
    }
    .collection-img {
        height: 370px;
    }
    .collection-title {
        font-size: 20px;
    }
}

/* media queries mobile*/
@media screen and (max-width: 576px) {
    .nav-mobile {
        display: block;
    }
    .nav-pc {
        display: none;
    }
    .img-mobile {
        display: block;
    }
    .img-pc {
        display: none;
    }
    .category {
        background-image: url(../img/lcs-1.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 5px black;
    }
    h2 {
        font-size: 25px;
    }
}